package views

templ Index() {
	@layout() {
		<img width="100px" src="/public/logo_large.png"/>
		<h1>Safina Society Search</h1>
		<h2>Search through Safina Society's Youtube videos</h2>
		<div>
			<input type="text"/>
		</div>
	}
}
