:root {
  --primary-color: #391247;
  --secondary-color: #9747FF;
  --bg-color: #fbf8f5;
}

body {
  background: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h2 {
  margin-top: -10px;
}

ul {
  list-style: none;
}

ul li {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.result-container {
  background: white;
  border-radius: 7px;
  display: flex;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.result-container:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}

.result-container img {
  max-height: 80px;
  width: auto;
}

.video-details {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: 600;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snippet {
  font-size: 0.85rem;
  margin: 5px;
  margin-top: -2px;
}

.matches-count {
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
  color: grey;
  margin-right: 5px;
}

mark {
  background: #CBBDDC;
}

.search-container {
  background-color: white;
  max-width: 400px;
  height: 30px;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid lightgrey;
  cursor: text;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease;
}

.search-container:focus-within {
  border: 2px solid var(--secondary-color);
}

input {
  color: rgba(0,0,0,.87);
  outline-color: none;
  background-color: transparent;
  border:none;
  height:100%;
  flex-grow:1;
  font-size: 15px;
  padding: 10px;
}

input:focus {
  outline: none;
}

.search-icon {
  max-width: 15px;
  margin: 0px 15px;
}
