@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #391247;
  --secondary-color: #9747FF;
  --bg-color: #fbf8f5;
}

body {
  background: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

body h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

body h1 strong {
  font-weight: 600;
}

body h2 {
  font-family: "Montserrat", sans-serif;
  margin-top: -10px;
  font-weight: 300;
  text-align: center;
}


.results-fail,
.search-error {
  color: grey;
  margin-top: 5px;
}

#results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.result-container {
  background: white;
  border-radius: 7px;
  display: flex;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.result-container:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-top: 15px;
}

.image-container {
  width: 18%;
  max-width: 200px;
  min-width: 100px;
  flex: none;
  padding: 5px;
  align-self: center;
}

.intrinsic {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  /* aspect ratio (height / width) for youtube thumbnail */
  padding-top: 75%;
  background: #f0f0f0;
  border-radius: 8px;
}

.intrinsic-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.video-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.title {
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: 600;
  margin: 5px;
}

.snippet {
  font-size: 0.85rem;
  margin: 5px;
  margin-top: -2px;
  flex-grow: 1;
  overflow: scroll;
}

.matches-count {
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
  color: grey;
  margin-right: 5px;
}

mark {
  background: #CBBDDC;
}


@media only screen and (max-width: 600px) {
.result-container {
  }
.intrinsic-item {
  }
}

.search-container {
  background-color: white;
  max-width: 400px;
  height: 30px;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid lightgrey;
  cursor: text;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease;
}

.search-container:focus-within {
  border: 2px solid var(--secondary-color);
}

input {
  color: rgba(0, 0, 0, .87);
  outline-color: none;
  background-color: transparent;
  border: none;
  height: 100%;
  flex-grow: 1;
  font-size: 15px;
  padding: 10px;
}

input:focus {
  outline: none;
}

.search-icon {
  max-width: 15px;
  margin: 0px 15px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  background-color: white;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  transition: all 0.2s ease-out;
}

.pagination .disabled {
  opacity: 0.6;
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: default;
}

.pagination a.active {
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
  cursor: default;
}

.pagination a:hover:not(.active):not(.disabled) {
  background: #CBBDDC;
  border-color: #CBBDDC;
  cursor: pointer;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
