package views

templ InsufficientInput() {
	<div class="search-error">Please enter more than 1 character to search</div>
}

templ InternalError() {
	<div class="search-error">Internal Server Error</div>
}
