package views

templ Index() {
	@layout() {
		<img width="100px" src="/public/logo_large.png"/>
		<h1>Safina Society Search</h1>
		<h2>Search through Safina Society's Youtube videos</h2>
		<input
			class="form-control"
			type="search"
			name="search"
			placeholder="Begin Typing To Search Users..."
			hx-post="/search"
			hx-trigger="input[this.value.length > 1] changed delay:500ms, keyup[key=='Enter']"
			hx-target="#results-container"
		/>
		<div id="results-container"></div>
	}
}
